.buscador {
    background-color: rgba(25, 27, 29, 1);
    width: 100%;
    height: auto;
}

.titulo-buscador {
    color: white;
    padding-top: 5px;
}

.buscadores div.react-datepicker-wrapper {
    padding: 0;
    border: 0;
    width: auto;
  }

.buscadores {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    gap: 5px;
    padding-bottom: 15px;
}

input.datePicker {
    height: 30px;
    border-radius: 5px;
    padding: 5px 35px;
}

.boton-buscar {
    background-color: rgba(240, 87, 45, 1);
    border-color: rgba(240, 87, 45, 1);
    color: white;
    border-radius: 5px;
    padding: 5px 35px;
}

.boton-buscar {
    cursor: pointer;
}
.buscadores select{
    width: 25vw;
}

select,input[type=date]{
    border-radius: 5px;
    
  }
  
  @media screen and (max-width:  480px){
      .titulo-buscador{
        font-size: 25px;
      }
      input.datePicker {
        border-radius: 5px;
        padding: 5px 35px;
        width: 100%;
    }
    .buscadores select{
        height: 30px;
        width: 100%;
      }
  }

  
  @media screen and (min-width: 480px) and (max-width:  768px){
    .buscador{
        padding: 0px 12px;
        /* margin-top: 30px; */
    }
    .titulo-buscador{
        padding-top: 5px;
    }
    input.datePicker {
        border-radius: 5px;
        padding: 5px 35px;
        width: 30vw;
    }
  }
  